progress {
    display: flex;
    margin-top: 1%;
    padding: 0;
    width: 90%;
    vertical-align: 0;
    text-align: center;
    align-self: center;
    border-radius: 24px;
    background: darkseagreen;

};

progress::-webkit-progress-bar {
    background: darkseagreen;
    border-radius: 24px;
  }
  
progress::-webkit-progress-value {
    background: darkseagreen;
    border-radius: 24px;
  }
  
progress.answered {
    background: rgb(28, 230, 28);
  }
  
 progress.answered::-webkit-progress-value {
    background: rgb(28, 230, 28);
  }
  
progress.answered::-webkit-progress-bar {
    background: rgb(28, 230, 28);
  }